// Font Family
$main-font: 'Satoshi';
$sub-font: 'ClashDisplay';
$magnita: 'Magnita';
$bootstrapFont: 'bootstrap-icons';

// Color Settings
$text-color: rgba(0,0,0,0.7);
$text-dark: #000;
$heading: #0055A4;
$color-one: #CFFF45;
$color-two: #29594B;
$color-three:#0c3a30;
$color-four: #e6fd5a;
$color-five: #262525;
$color-six: #DFFF5E;
$color-seven: #044F3B;
$color-eight: #1F5E59;
$color-nine: #D0FF45;
$color-ten: #144D41;
$color-eleven: #FFDB1E;
$light-bg-one: #EBF3EE;
$light-bg-two: #EDF1EE;
$cyan: #DCEFF0;
